<div class="row">
  <div class="small-12 columns">
    <h3>
      <i class="material-icons">shopping_basket</i>
      Seu carrinho de compras
    </h3>
  </div>
</div>
<br/>
<div class="row">
  <div class="small-12 columns">
    <h5>
      Sub Total ({{itemCount}} items):
      <span class="text--red text--bold js-cart-total">{{(cart | async).grossTotal | currency:'BRL':true}}</span>
    </h5>
  </div>
</div>
<br/>
<div class="row">
  <div class="small-12 columns">
    <a class="success button large expanded"
       [attr.disabled]="itemCount === 0 ? true : null"
       routerLink="/checkout">Processar pagamento</a>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    ou
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <button type="button"
            class="secondary button large expanded js-btn-empty-cart"
            (click)="emptyCart()"
            [attr.disabled]="itemCount === 0 ? true : null">
      Limpar carrinho de compras
    </button>
  </div>
</div>
